<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VirtualTourist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5EFD8E0D1D29B314004EA812</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EFD8E211D29B314004EA812</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EFD8E2C1D29B315004EA812</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
